{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AllowedOrigins": "http://localhost:3000",
  "ConnectionStrings": {
    "DefaultConnection": "Host=$DATABASE_SERVER;Port=$DATABASE_PORT;Database=$DATABASE_NAME;Username=$DATABASE_USER;Password=$DATABASE_PASSWORD;"
  },
  "LuckyPenny": {
    "LicenseKey": "$LICENCE_KEY"
  }
}
